<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @score.username %>
</p>

<p>
  <b>Point:</b>
  <%= @score.point %>
</p>


<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
